baseSecondary = #000
basePrimaryDesaturated =  #dfdfdf
basePrimary = #fff
gradient = linear-gradient(212deg, rgba(90,119,255,1) 2%, rgba(188,113,152,1) 41%, rgba(255,197,147,1) 81%)

fontColorPrimary = #000
fontColorSecondary = #fff
fontFamilyPrimary = 'DM Sans', sans-serif
fontWeightNormal = 400
fontWeightBold = 700