secondary = #000
secondaryDesaturated =  #dfdfdf
primary = #fff
gradient = linear-gradient(212deg, rgba(90,119,255,1) 2%, rgba(188,113,152,1) 41%, rgba(255,197,147,1) 81%)

fontColorPrimary = secondary
fontColorSecondary = primary
fontFamilyPrimary = 'DM Sans', sans-serif